<h1 style="text-align: center;">{{title}}</h1>


<form>
    <input type="text" name="nombre"  [(ngModel)]="nombre"><br/>

    <input type="text" name="apellido   "   [(ngModel)]="apellido">    <br/>
    <input type="text" name="cargo   "   [(ngModel)]="cargo">    <br/>



<input type="submit" value="registrar" (click)="registrarUsuario()">

</form>
<br/>
<p *ngIf="registrado; else sinregistrar">{{mensaje}} con el nombre de {{nombre}} {{apellido}} y tiene el cargo <span [ngClass]="cargo=== 'director' ? 'paraDirectores' : ''">{{ cargo }}>

    {{cargo}}


</span></p>

<ng-template #sinregistrar>
<p>Nadie registrado</p>



</ng-template>


<br/>
<br/>
<ul>
<li *ngFor="let sex of entradas; let i=index"> <span style="font-size:larger; font-weight:bold; " > {{sex.titulo}}</span>

. Entrada {{i}}</li>


</ul>